<footer class="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="c-footer">
                <div class="layout">
                    <div class="layout_item w-50">
                        <div class="newsletter">
                            <h3 class="newsletter_title">Get updates on fun stuff you probably want to know about in
                                your inbox.</h3>
                            <form action="">
                                <input type="text" class="email-address" placeholder="Email Address">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path
                                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="layout-set">
                        <div class="layout_item layout_item-1">
                            <nav class="c-nav-tool">
                                <h4 class="c-nav-tool_title">Menu</h4>
                                <ul class="c-nav-tool_list">
                                    <li>
                                        <a href="/collections/all" class="c-link">Shop All</a>
                                    </li>

                                    <li>
                                        <a href="/pages/about-us" class="c-link">About Us</a>
                                    </li>

                                    <li>
                                        <a href="/blogs/community" class="c-link">Community</a>
                                    </li>
                                    <li>
                                        <a href="#" class="c-link">Vibes</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>

                        <div class="layout_item layout_item-2 ">
                            <nav class="c-nav-tool">
                                <h4 class="c-nav-tool_title">Support</h4>
                                <ul class="c-nav-tool_list">

                                    <li class="c-nav-tool_item">
                                        <a href="/pages/shipping-returns" class="c-link">Shipping &amp; Returns</a>
                                    </li>

                                    <li class="c-nav-tool_item">
                                        <a href="/pages/help" class="c-link">Help &amp; FAQ</a>
                                    </li>

                                    <li class="c-nav-tool_item">
                                        <a href="/pages/terms-conditions" class="c-link">Terms &amp; Conditions</a>
                                    </li>

                                    <li class="c-nav-tool_item">
                                        <a href="/pages/privacy-policy" class="c-link">Privacy Policy</a>
                                    </li>

                                    <li class="c-nav-tool_item">
                                        <a href="/pages/contact" class="c-link">Contact</a>
                                    </li>

                                    <li class="c-nav-tool_item">
                                        <a href="/account/login" class="c-link">
                                            Login
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <p>&copy; 2022 The Afterlogo Company Inc.</p>
        </div>
    </div>
</footer>