<div class="parent card-1">
    <div class="card ">
        <div class="content-box">
            <h1 class="card-title">Card Title</h1>
            <p class="card-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sequi illo nam repudiandae tempore quaerat veritatis doloremque omnis molestias id.
            </p>
            <span class="see-more">See More</span>
        </div>
        <div class="date-box">
            <span class="month">JUNE</span>
            <span class="date">29</span>
        </div>
    </div>
</div>