@import "../../app.component.scss";

.section {
    background-color: #c7c1db;
    padding-bottom: 50px;
}

.banner {
    animation: fade-up 1s ease 0.2s ;
}

.d-block {
    height: 250px;
}

// CARD SET

.card {
    border-radius: 15px;
    margin-top: 30px;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-set {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.card-text {
    font-size: 10px;
}

.card-col {
    display: none;
}

.accordion-button {
    color: white;
    background-color: #1e1e1e;   
}

.accordian-set {
    margin: 30px 50px 30px 50px;
}

@keyframes fade-up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width:539px) {
    .card-col{
        flex-direction: row;
    }

    .card {
        margin: 10px;
    }

    .banner {
        padding-top: 30px;
        margin: 0 50px 0 50px;
    }
}

@media screen and (min-width:990px) {

    .d-block {
        height: 500px;
        margin-top: 10px 30px 0 30px;
    }

    .card-set {
        flex-direction: row;
        justify-content: center;
    }

    .card-col-pc {
        display: flex;
    }

    .banner {
        padding-top: 30px;
        margin: 0 50px 0 50px;
    }
    
    .card-col {
        display: flex;
    }
}